<!DOCTYPE html>
<html>
<head>
  <title>ValidateFormApp</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery' %>
  <%= javascript_include_tag 'validated_simple_form' %>
  <%= javascript_include_tag 'init' %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
