<h1>Editing track</h1>
<%= validated_simple_form_for(@track) do |f| %>
  <%= f.input :title %>
  <%= f.input :position %>
  <%= f.input :public %>
  <%= f.submit %>
<% end %>


<%= link_to 'Show', @track %> |
<%= link_to 'Back', tracks_path %>
