<h1>New track</h1>
<%= validated_simple_form_for(Track.new) do |f| %>
  <%= f.input :title %>
  <%= f.input :position %>
  <%= f.input :public %>
  <%= f.submit %>
<% end %>

<%= link_to 'Back', tracks_path %>
