<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @track.title %>
</p>

<p>
  <b>Position:</b>
  <%= @track.position %>
</p>

<p>
  <b>Public:</b>
  <%= @track.public %>
</p>


<%= link_to 'Edit', edit_track_path(@track) %> |
<%= link_to 'Back', tracks_path %>
